<!-- extended javascript -->
<!DOCTYPE html>
<html>
    <head>
        <title>Participantes</title>
    </head>
<body>
    <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">

<div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7">   
        <h2>Filmes Assistidos</h2>
        
        <tr>
            <th>Título</th>
        </tr>
            <% if(data[1].length){ 
                        
                for(var i = 0;i < data[1].length;i++) { %>
            
                        <tr>
                            <td><%=data[1][i].nome_filme%></td>
                        </tr>  

                    <% }
    
                    }else{ %>
                        <tr>
                            <td colspan="5">No Data</td>
                        </tr>
                    <% } %>
    </table>
</div>

<div class="page-data">
    
        <form method="post" action="" id="the-form">
            <table cellpadding="11">
            <tr>
                <td class="label">Viu mais um filme? Adicione aqui</td><td>: 
                    <select id="select1" name="filmes">
                        <% for(var i=0; i < data[0].length; i++) { %>
                            <option><%= data[0][i].nome_filme%></option>
                         <% } %>
                    </select></td>
    
            </tr>
             <tr>
                <td class="label"></td>
                <td>
                    &nbsp; <input type="button" value="Save" onClick="saveAssistido(<%=data[1][0].id_pessoa%>)">
                </td>
             </tr>
            </table>
        </form>
    </div>  

    <script>

            function saveAssistido(id_pessoa){
               
               $.ajax({
    
                url:"/api/pessoa/"+id_pessoa,
                type:"put",
                data:$("#the-form").serialize(),
                success:function(res){
                    
                    window.location.reload();
                    return false;
                },
                error:function(xhr, status, error){
                    
                    console.log(xhr.responseText);
                    var err = '';
                    $.each(JSON.parse(xhr.responseText) , function(i, item) {
                       
                         err +='<li>'+item.msg+'</li>';
                    });
                    $(".err-area").html(err);    
                    return false;
                }
                
               });
            }
        
    </script>

</body>
</html>
