<!-- extended javascript -->
<!DOCTYPE html>
<html>
    <head>
        <title>Gêneros</title>
    </head>
    <body>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
            <link rel="stylesheet" href="/../css/style.css">
        
                <div class="data-table">
                    <table border="1" cellpadding="7" cellspacing="7">   
                        <% if(data.length){ 

                        for(var i = 0;i < data.length;i++) { 
                        %>
                        
                        <tr>
                            <td><a href="" id="<%="mystr" + i%>"><%=data[i].nome_genero%></a></td>
                            <script>
                                document.getElementById("<%="mystr" + i%>").href = "genero/<%=data[i].id_genero%>"
                            </script>
                        </tr>
                        <% } %>
                    
                    <%} else{ %>
                        <tr>
                            <td colspan="5">No Data</td>
                        </tr>
                    <% } %>
                    </table>
                </div>
    </body>
</html>
