<!-- extended javascript -->
<!DOCTYPE html>
<html>
    <head>
        <title>Participantes</title>
    </head>
<body>
    <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">

    <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th><a href="/api/pessoa">Pessoas</a></th>
                <th><a href="/api/filme">Filmes</a></th>
                <th><a href="/api/genero">Gêneros</a></th>
                <th><a href="/api/encontro">Encontros</a></th>
        
            </tr>
    </table>  
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">   
            <h2>Participantes</h2>
            
            <tr>
                <th>Lista de Presença</th>
            </tr>
                <% if(data[1].length){ 
                            
                    for(var i = 0;i < data[1].length;i++) { %>
                
                            <tr>
                                <td><%=data[1][i].nome%></td>
                            </tr>  

                        <% }
        
                        }else{ %>
                            <tr>
                                <td colspan="5">Nenhum participante.</td>
                            </tr>
                        <% } %>
        </table>
    </div>

    <div class="page-data">
    
        <form method="post" action="" id="the-form">
            <table cellpadding="11">
            <tr>
                <td class="label">Adicionar participante</td><td>: 
                    <select id="select1" name="particip">
                        <% for(var i=0; i < data[0].length; i++) { %>
                            <option><%= data[0][i].nome%></option>
                        <% } %>
                    </select></td>
    
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    &nbsp; <input type="button" value="Save" onClick="savePart(<%=data[1][0].id_encontro%>)">
                </td>
            </tr>
            </table>
        </form>
    </div>  

    <script>

            function savePart(id_encontro){
                $.ajax({
    
                    url:"/api/encontro/"+id_encontro,
                    type:"post",
                    data:$("#the-form").serialize(),
                    success:function(res){
                        
                        window.location.reload();
                        return false;
                    },
                    error:function(xhr, status, error){
                        
                        console.log(xhr.responseText);
                        var err = '';
                        $.each(JSON.parse(xhr.responseText) , function(i, item) {
                        
                            err +='<li>'+item.msg+'</li>';
                        });
                        $(".err-area").html(err);    
                        return false;
                    }
                
                });
            }
        
        </script>

</body>
</html>
